# Build folder
out/build/
/build/

# CMake intermediate files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.ninja

# Compiled objects and executables
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib

# Visual Studio files
*.sln
*.vcxproj*
*.ipch
*.sdf
Debug/
Release/
# Visual Studio caches
.vs/

# MacOS hidden files
.DS_Store